<h1>Editing user information</h1>

<%= render "form", user_registration_path: @user %>

<br>

<div>
  <%= link_to "Show this user profile", @user %> |
  <%= link_to "Back to home", root_path %>
</div>