<p style="color: green"><%= notice %></p>
<div class="grid grid-cols-1">
    <h1 class="font-bold text-2xl text-black-500 pb-3" >Recipes</h1>
</div>
<div class="grid grid-cols-1 gap-4" id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
